name: CI Build Calculette with Java

on:
  push:
    branches: [ "main", "tp3-quality-refactoring" ]
  pull_request:
    branches: [ "main", "tp3-quality-refactoring" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: unit test
        run: mvn test -Djava.awt.headless=true
